 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Belajar Django{% endblock%}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Website Belajar Django</h1>
        <nav>
            <a href="{%url 'home'%}">Home</a>
            <a href="{%url 'about'%}">About</a>
        </nav>
    </header>
    <hr>
    {%block content%}

    {%endblock%}

    <footer>
        <hr>
        <p>2025 Aditya Training</p>
    </footer>
</body>
</html>